html {
    scroll-behavior: smooth;
}
body {
    font-family: 'KoHo', sans-serif;
    background-color: #f5cf6e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pattaya', sans-serif;
}

h1 {
    font-size: 5em;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited {
    color: #d4d3d9;    
    text-decoration: none;
}

.header {
    background-color: #1d1b42;
    color: #d4d3d9;   
    padding: 5px 0; 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .header_img_container {
            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: 2px solid #30afbe;
            }
        }
        .header_menu_container {
            .header_list {
                list-style: none;
                display: flex; 
                    li {
                        margin-right: 20px;
                        a {
                            padding: 5px;
                            border-radius: 5px;
                        }
                        a:hover {
                            background-color: #ed5736;
                        }
                    }
                    li:last-child {
                        margin: 0;
                    }
            }
        }
    }
}

.main {
    &>*>* {
        border-radius: 15px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        // height: 100vh;
        color: #d4d3d9;
    }
    &>* {
        margin: 10px 0;
    }
    .home_section {
        .home__inner {
            padding: 10% 0;
            background-color: #30afbe;

            p {
                font-size: 1.2em;
            }
        }
    }

    .about_section {
        .about__inner {
            padding: 5%;
            background-color: #ed5736;
            h2 {
            font-size: 3em;
            }
        }
    }

    .social_section {
        .social__inner {
            padding: 5%;
            background-color: #30afbe;
            h2 {
                font-size: 3em;
            }
        .social_media_container {
            margin-top: 10%;
            display: flex;
            flex-wrap: wrap;
            .social_media_card {
                width:25%;
                height: 220px;
                padding: 10px;
                .social_media_card_inner {
                    border-radius: 100%;
                    background-color: #ed5736;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    a {
                        margin-left: auto;
                        margin-right: auto;
                        * {
                            color: #d4d3d9;
                            width: 70px;
                            height: 70px;
                        }
                        &:hover {
                            svg {
                                fill: #30afbe;
                            }
                        }
                    }

                }
            }
        }
        }
    }
}

@media (max-width: 992px) {
    .main {
        .social_section {
            .social__inner {
                .social_media_container {
                    .social_media_card {
                        width:33.3%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        .social_section {
            .social__inner {
                .social_media_container {
                    .social_media_card {
                        width:50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .main {
        .social_section {
            .social__inner {
                .social_media_container {
                    .social_media_card {
                        width:100%;
                    }
                }
            }
        }
    }
}