* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Lato', sans-serif;
	margin:0 auto 0 auto;
}
main > *{
	margin-right: auto;
	margin-left: auto;
}
header{
	max-width: 1170px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 13.5px;
}

.container {
	background-color: white;
	height: 70px;
}
.container > * {
	float: left;
	margin: 10px 0 10px 0;
}

.container ul {
	margin-top: 20px;
	float:right;
}

ul li {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
	float: left;
}

ul #liHome {
	background-color: #FFBB41;
	border-radius: 5px;
}

li a:link, li a:visited {
	color:#808080; 
	text-decoration: none;
}

main{
	height: 600px;
	background-color: #709DCA;
}

.main_container h1, .main_container h3{
	text-align: center;
	color: white;
}
h1, .services_container > h2{
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
}


.main_container > form {
	margin-top:20px;
	text-align: center;
}

.main_container{
	padding-top:100px;
	max-width: 1170px;
	/*width: 80%;*/
}
main .main_container, main .services_container{
	width: 80%;
}

.main_form input{
	height: 30px;
	border:0px;
	border-radius:2px;
	margin-left:5px;
	width:24%;
	padding-left: 20px;

}

#input_button{
	background-color: #FFBB41;
	color: white;
	text-align: center;
	padding-left: 0px;
}

#name_input{
	background-image: url(../img/person-fill.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-position: 5px 50%;
}

#email_input{
	background-image: url(../img/envelope-fill.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-position: 5px 50%;
}

#phone_input{
	background-image: url(../img/telephone-fill.svg);
	background-repeat: no-repeat;
	background-position: 5px 50%;

}

.notebook_img_container{
	text-align: center;
	position: relative;
	top: 120px;
	z-index: 100;

}
.notebook_img_container .notebook_slider_form{
	margin-top: 10px;
}

.services_container{
	height: 700px;
	margin-top:200px;
	color:#6e6e6e;
}

.services_container > h3 {
	font-weight: 400;
	text-align: center;
	margin-bottom: 100px;
}

.section_header{
	font-weight: 900;
	text-transform: uppercase;
	/*margin-left: 30px;*/
	left:70px;
}

.section_paragraph{
	left:70px;
	top:30px;
}

.services_section{
	margin-bottom:150px;
	width: 50%;
	position: relative;
	float: left;
}

.services_section > *{
	position: absolute;
	padding-right: 50px;
}

.about_us{
	height: 625px;
	background-color: #ffc155;
}
/*
.about_us img {
	width:50%;
	height:100%;
	float:left;
}*/

.about_background_img{
	width: 50%;
	background: url(../img/about_us_img.png);
	height: 100%;
	float:left;
}
.about_us_inner h2 {
	/*color:white;*/
	text-transform: uppercase;
	font-weight: 900;
}

.about_us_inner > p {
	margin-top:10px;
	font-size: 13.5px;
	margin-bottom: 30px;
}
.about_us_inner > a {
	text-transform: uppercase;
	padding: 10px;
	/*margin-top: 50px;*/
	background-color: #e7ad48;
}
a:hover, a:link, a:visited {
	text-decoration: none;
	color: white;
}

.about_us_inner {
	width: 80%;
	text-align: left;
	padding-top: 200px;
	padding-left: 55%;
	color:white;
}

.choose_price{
	height: 900px;
	background-color: #e7edf3;
	padding-top: 10%;
}
.choose_price *{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.choose_price h2{
	text-transform: uppercase;
	text-align: center;
	color:#394b50;
	font-weight: 900;
}
.choose_price p{
	font-weight: 300;
	text-align: center;
	color:#75888d;
}

.choose_price_inner{
	width:30%;
	height: 500px;
	background-color: #709dca;
	border-radius: 5px;
	margin-top:50px;
	padding-top: 5%;
}

.choose_price_inner h2{
	font-weight: 300;
	color:white;
	padding-bottom:35px;

}

.choose_price_inner h1, .choose_price_inner h1 sup {
	color:white;
}
.choose_price_inner h1{
	font-size: 45px;
	font-weight: 700;
}
.choose_price_inner h1 sup {
	font-weight: 300;
}

.choose_price_inner p{
	color: white;
	text-transform: uppercase;
	margin-top:15px;
	margin-bottom: 15px;
}

.choose_price_inner hr~p{
	color:#c2e1ff;
}

.choose_price_inner hr{
	height: 1px;
	border:none;
	background-color: #c2e1ff;
}

.choose_price_inner p a{
	padding:10px;
	background-color: #ffbb42;
	border-radius: 5px;
}

#last_paragraph{
	margin-bottom: 40px;
}