* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Lato', sans-serif;
	margin:0 auto 0 auto;
}
main > *{
	margin-right: auto;
	margin-left: auto;
}
header{
	max-width: 1170px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 13.5px;
}

.container {
	background-color: white;
	height: 70px;
}
.container > * {
	float: left;
	margin: 10px 0 10px 0;
}

.container ul {
	margin-top: 20px;
	float:right;
}

ul li {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
	float: left;
}

ul #liHome {
	background-color: #FFBB41;
	border-radius: 5px;
}

li a:link, li a:visited {
	color:#808080; 
	text-decoration: none;
}

main{
	height: 600px;
	background-color: #709DCA;
}

.main_container h1, .main_container h3{
	text-align: center;
	color: white;
}
h1{
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	/*color: white;*/
}


.main_container > form {
	margin-top:20px;
	text-align: center;
}

.main_container{
	padding-top:100px;
	max-width: 1170px;
	/*width: 80%;*/
}
main .main_container, main .services_container{
	width: 80%;
}

.main_form input{
	height: 30px;
	border:0px;
	border-radius:2px;
	margin-left:5px;
	width:24%;
	padding-left: 20px;

}

#input_button{
	background-color: #FFBB41;
	color: white;
	text-align: center;
	padding-left: 0px;
}

#name_input{
	background-image: url(../img/person-fill.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-position: 5px 50%;
}

#email_input{
	background-image: url(../img/envelope-fill.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-position: 5px 50%;
}

#phone_input{
	background-image: url(../img/telephone-fill.svg);
	background-repeat: no-repeat;
	background-position: 5px 50%;

}

.notebook_img_container{
	text-align: center;
	position: relative;
	top: 120px;
	z-index: 100;

}
.notebook_img_container .notebook_slider_form{
	margin-top: 10px;
}

.services_container{
	height: 700px;
	margin-top:200px;
	color:#6e6e6e;
}

.services_container > h3 {
	font-weight: 400;
	text-align: center;
	margin-bottom: 100px;
}

.section_header{
	font-weight: 900;
	text-transform: uppercase;
	/*margin-left: 30px;*/
	left:70px;
}

.section_paragraph{
	left:70px;
	top:30px;
}

.services_section{
	margin-bottom:150px;
	width: 50%;
	position: relative;
	float: left;
}

.services_section > *{
	position: absolute;
	padding-right: 50px;
}

.about_us{
	height: 625px;
	background-color: #ffc155;
}

