* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Lato', sans-serif;
	margin:0 auto 0 auto;
	max-width: 1170px;
}
main > *{
	margin-right: auto;
	margin-left: auto;
}
header{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 13.5px;
	position: fixed;
	z-index:200;
	background-color: white;
}

.container {
	/*background-color: white;*/
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 70px;
}
.container > * {
	float: left;
	margin: 10px 0 10px 0;
}

.container ul {
	margin-top: 20px;
	float:right;
}

.main_ul li {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
	float: left;
}

ul .liItem:hover {
	background-color: #FFBB41;
	border-radius: 5px;
}

li a:link, li a:visited {
	color:#808080; 
	text-decoration: none;
}

main{
	height: 600px;
	background-color: #709DCA;
}

.main_container h1, .main_container h3{
	text-align: center;
	color: white;
}
h1, .services_container > h2{
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
}


.main_container > form {
	margin-top:20px;
	text-align: center;
}

.main_container{
	padding-top:100px;
	max-width: 1170px;
	/*width: 80%;*/
}
main .main_container, main .services_container{
	width: 80%;
}

.main_form input{
	height: 30px;
	border:0px;
	border-radius:2px;
	margin-left:5px;
	width:24%;
	padding-left: 20px;

}

#input_button{
	background-color: #FFBB41;
	color: white;
	text-align: center;
	padding-left: 0px;
}

#name_input{
	background-image: url(../img/person-fill.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-position: 5px 50%;
}

#email_input{
	background-image: url(../img/envelope-fill.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-position: 5px 50%;
}

#phone_input{
	background-image: url(../img/telephone-fill.svg);
	background-repeat: no-repeat;
	background-position: 5px 50%;

}

.notebook_img_container{
	text-align: center;
	position: relative;
	top: 120px;
	z-index: 100;

}
.notebook_img_container .notebook_slider_form{
	margin-top: 10px;
}

.services_container{
	height: 700px;
	margin-top:200px;
	color:#6e6e6e;
}

.services_container > h3 {
	font-weight: 400;
	text-align: center;
	margin-bottom: 100px;
}

.section_header{
	font-weight: 900;
	text-transform: uppercase;
	/*margin-left: 30px;*/
	left:70px;
}

.section_paragraph{
	left:70px;
	top:30px;
}

.services_section{
	margin-bottom:150px;
	width: 50%;
	position: relative;
	float: left;
}

.services_section > *{
	position: absolute;
	padding-right: 50px;
}

.about_us{
	height: 625px;
	background-color: #ffc155;
}
/*
.about_us img {
	width:50%;
	height:100%;
	float:left;
}*/

.about_background_img{
	width: 50%;
	background: url(../img/about_us_img.png);
	height: 100%;
	float:left;
}
.about_us_inner h2 {
	/*color:white;*/
	text-transform: uppercase;
	font-weight: 900;
}

.about_us_inner > p {
	margin-top:10px;
	font-size: 13.5px;
	margin-bottom: 30px;
}
.about_us_inner > a {
	text-transform: uppercase;
	padding: 10px;
	/*margin-top: 50px;*/
	background-color: #e7ad48;
}
a:hover, a:link, a:visited {
	text-decoration: none;
	color: white;
}

.about_us_inner {
	width: 80%;
	text-align: left;
	padding-top: 200px;
	padding-left: 55%;
	color:white;
}

.choose_price {
	height: 900px;
	padding-top: 135px;
	text-align: center;
	background-color: #e7edf3;
}

.choose_price_inner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.choose_price_inner > div {
	float:left;
}

.choose_price_inner h1{
	font-weight: 900;
	color: #394b50;
}

.choose_price_inner > p{
	/*color: #394b50;*/
	color: #7d8f94;
	font-weight: 400;
}

.price_plans#gold_plan, .price_plans#basic_plan{
	padding: 55px 30px 50px 30px;
}


.price_plans * {
	text-transform: uppercase;
	text-align: center;
	color: #b5bbc1;
}

.price_plans#basic_plan, .price_plans#gold_plan {
	width: 35%;
	background-color: #ffffff;
	border-radius: 5px;
	height: 440px;
	margin-top:85px;
}

.price_plans#premium_plan{
	width:30%;
	background-color: #709dca;
	height: 500px;
	margin-top:55px;
	border-radius:5px;
	padding: 85px 30px 85px 30px;
}

.price_plans#premium_plan p{
	color:#c2e1ff;
}
.price_plans#premium_plan h1, .price_plans#premium_plan h3,
 .price_plans#premium_plan h1 sup, .price_plans#premium_plan .per_month{
	color:white;
}

.price_plans h3 {
	font-weight: 300;
	color: #818b95;
	margin-bottom: 10px;
}

.price_plans h1, .price_plans sup{
	color: #ffbb42;
}

.price_plans h1{
	font-size: 45px;
	font-weight: 700;
}

.price_plans h1 sup {
	font-weight: 400;
}

.price_plans .per_month {
	margin-bottom: 33px;
	color: #818b95;
}

.price_plans hr {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #e2e9f0;
	border: 0px;
	height: 1px;
}

.price_plans#premium_plan hr{
	background-color: #8eb8e2;
}
.price_plans a {
	color:#ffffff;
	background-color: #ffbb42;
	padding: 16px 20px;
	border-radius: 5px;
}

.last_p{ 
	margin-top: 50px;
 }

 .how_it_works{
 	background-color: #ffffff;
 	height: 850px;
 }

 .how_it_works .how_it_works_inner{
 	width: 80%;
 	margin-left: auto;
 	margin-right: auto;
 	/*padding: 155px 15px 150px 15px;*/
 	padding: 155px 0 55px 0;
 	text-align: center;
 }

 .how_it_works_inner > h1 {
 	color: #394b50;
 }

 .how_it_works_inner > p {
 	color: #7d8f94;
 	margin-bottom: 110px;
 }

.how_it_works_inner .how_it_works_section{
	width: 25%;
	float:left;
	padding-left: 15px;
	padding-right: 15px;
}

.how_it_works_inner .how_it_works_section img{
	margin-bottom: 100px;
}

.how_it_works_section h3{
	text-transform: uppercase;
	color:#394b50;
	margin-bottom: 30px;
}

.how_it_works_section p {
	color:#394b50;
}

.how_it_works p a {
	color:#ffffff;
	background-color: #ffbb42;
	padding: 16px 20px;
	border-radius: 5px;
	text-transform: uppercase;
}

.how_it_works #how_it_works_last{
	/*margin-top: 80%;*/
	margin-top: 500px;
	clear: left;
}

.happy_clients {
	height: 900px;
	background-color:#ffc155;
}

.happy_clients_inner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 140px 0 150px 0;
}

.happy_clients_inner section {
	background-color:  white;
	width: 48%;
	height: 240px;
	padding: 30px 20px 30px 20px;
	border-radius: 5px;
	float: left;
}

.happy_clients_inner section * {
	float: left;
	text-align: left;
}

.happy_clients_inner section p{
	width: 60%;
	margin-top: 20px;
	margin-left: 10px;
	color: #7b7b7b;
}


.clients_section h4 {
	color: #b4c0c4;
	text-transform: uppercase;
	margin-top: 26px;
	margin-left: 10px;
	width: 60%;
	font-weight: 400;
	font-size: 13px;
}

.clients_section h4 span {
	color: #f78948;
}

.clients_left{
	margin-right: 30px;
}

.clients_left, .clients_right{
	margin-top:20px;
}

.clients_section img {
	width: 156px;
	height: 156px;
}

.happy_clients_inner > p{
	margin-bottom: 60px;
}
.happy_clients_inner p, .happy_clients_inner h1 {
	color: #ffffff;
} 

.newsletter {
	background-color: #ffffff;
	height: 1160px;
}

.newsletter_inner{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}

.newsletter_inner{
	padding: 155px 0 50px 0;
}

.newsletter_inner > *{
	color:#394b50;
} 

.newsletter_header {
	margin-left: 115px;
	margin-right: 115px;
}

.newsletter_form {
	margin-top: 40px;
	margin-bottom: 70px;
}
.newsletter_form input{
	width: 32%;
	height: 50px;
}

.newsletter_earth_back{
	background: url("../img/map.png");
	background-size: cover;
	width: 99%;
	height: 545px;
	padding-top: 40px;
}

.newsletter_earth_back .address{
	height: 280px;
	width: 280px;
	padding: 65px 30px 75px 30px;
	background-color: #394b50;
	border-radius: 500px;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	text-align: center;
}

.address h3 {
	text-transform: uppercase;
	margin-bottom: 22px;
}

.address p {
	font-size: 10px;
	margin-bottom: 16px;
	color: #aeb7ba;
}

.address #info {
	color: #ffbb42;
}

.newsletter_logo_container {
	margin-top: 20px;
}

.newsletter_inner #last_hr{
	margin-top: 60px;
	margin-bottom: 70px;
	height: 2px;
	background-color:#e3e7ec;
	border: 0px;
}


#last_list{
	list-style: none;
	padding-left: 20%;
	padding-right: 20%;
}

#last_list li{
	float:left;
	margin-right: 17px;
	margin-left: 17px;
	font-size: 10px;
	color: #394b50;
	text-transform: uppercase;
}

.phone_container{
	clear: left;
	margin-top: 100px;
}

.social_media img {
	margin-left: 5px;
	margin-right: 5px;
}



.footer{
	height: 45px;
	background-color: #709dca;
	width: 100%;
}

.footer_inner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #ffffff;
	padding: 10px;
}